[submodule "LangSAM"]
	path = LangSAM
	url = git@github.com:kaleo22/LangSAM.git
[submodule "ByteTrack"]
	path = ByteTrack
	url = git@github.com:kaleo22/ByteTrack.git
[submodule "OneFormer"]
	path = OneFormer
	url = git@github.com:kaleo22/OneFormer.git
